/*GENERAL*/

@font-face {
    font-family: "webkea-font";
    src: url(../fonts/webkea-font.ttf) format("truetype");
}
.webkea-font {
  font-family: "webkea-font";
  display: block;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 37px;
  padding-bottom: 19px;
  border-radius: 50%;
  color: #28C4DA;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

/*NAVIGATION*/

nav img {
  opacity: .95;
  display: inline;
  width: 2.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.47rem;
}

nav {
  opacity: .98;
  font-size: .8rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: solid .4rem rgba(210, 231, 229, 0.8);
  width: 100%;
  background-image: linear-gradient(324deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
  height: 3.4rem;
  h1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  ul {
    float: right;
    margin-right: 2rem;
  }
  li {
    display: inline;
    line-height: 3rem;
    a {
      padding: .8rem;
      color: rgba(255, 255, 255, 0.95);
      text-decoration: none;
    }
  }
  .logo {
    float: left;
    font-size: 1rem;
    margin-left: 2rem;
    line-height: 3rem;
    color: #fff;
    text-decoration: none;
    a {
      color: rgba(255, 255, 255, 0.9);
    }
  }
  .menu-button {
    display: none;
    font-size: 1.4rem;
    float: right;
    color: #fff;
    line-height: 3rem;
    margin-right: 3rem;
  }
  .menu-close {
    display: none;
  }
}

.nav-icons {
  padding-left: .3rem;
  font-size: 1rem;
}

#features ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*1rem = 16px*/

/*VIDEO BG*/

#homeLand,
#videoBG {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#videoBG .shade {
  background: #24afaa;
  background-image: -moz-linear-gradient(144deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
  background-image: -webkit-linear-gradient(144deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
  background-image: -ms-linear-gradient(144deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
  opacity: 0.9;
  height: 100%;
}


/*FULLSCREEN HEADER*/

header {
//  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.08)), url("../img/auckland_skyline.jpg");
//  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.08)), url("../img/auckland_skyline.jpg");
//  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.08)), url("../img/auckland_skyline.jpg");
//  background-image: linear-gradient(top, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.08)), url("../img/auckland_skyline.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 100vh;
}


.title {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 0;
  text-align: center;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 3.5rem 1;
}




/*SECTION INTRO*/

#intro,
#features-part2,
#work,
#locale {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  background: white;
  width: 100%;
  text-align: center;
}

#locale {
  padding-bottom: 0;
}

#intro img,
#features-part2 img{
  width: 11rem;
  height: 11rem;
  border-radius: 100%;
  border: .4rem solid rgba(224, 224, 224, 0.78);
  padding: .38rem;
}

#intro h3,
#features-part2 h3 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #28C4DA;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding-top: 1rem;
}

#intro p,
#features-part2 p,
#locale p {
  font-family: 'Droid Sans', sans-serif;
  color: #9c9c9c;
  font-size: 14px;
  text-align: center;
  padding: 0 2rem 1rem 2rem;
}

/*BANNER 1*/

.banner-1 {
  width: 100%;
  height: 25rem;
  background-image: -moz-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-1.jpg");
  background-image: -webkit-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-1.jpg");
  background-image: -ms-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-1.jpg");
  background-image: linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-1.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
}

/*
.banner-1 h2{
  transform: translateY(0%);
}
*/


/*SECTION FEATURES*/

#features {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
}

#features h3,
#work h3,
#locale h3 {
  color: grey;
}

#features h4,
#locale h4{
  font-family: Ubuntu, Helvetica, sans-serif;
  color: grey;
  font-size: .8rem;
  font-weight: 400;
  text-align: center;
  padding-top: 0;
}

.button {
  border: 2px solid #15b4c2;
  border-radius: 7px;
  font-family: Ubuntu, Helvetica, sans-serif;
  background-color: white;
  color: #57A8B3;
  margin-bottom: 4.5rem;
}

.button:hover {
  background-color: rgba(110, 194, 255, 0.87);
}

/*BANNER 2*/

.banner-2 {
  width: 100%;
  height: 25rem;
  background-image: -moz-linear-gradient(rgba(255, 89, 89, 0.2), rgba(194, 14, 14, 0.29)), url("../img/banner-2.jpg");
  background-image: -webkit-linear-gradient(rgba(255, 89, 89, 0.2), rgba(194, 14, 14, 0.29)), url("../img/banner-2.jpg");
  background-image: -ms-linear-gradient(rgba(255, 89, 89, 0.2), rgba(194, 14, 14, 0.29)), url("../img/banner-2.jpg");
  background-image: linear-gradient(rgba(255, 89, 89, 0.2), rgba(194, 14, 14, 0.29)), url("../img/banner-2.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
}

/*SECTION WORK*/


#work img {
  padding: 2rem;
}

.work-img img {
  max-width:70%;
  transition: all 300ms ease;
}

.work-img img:hover {
  max-width: 90%;
}

/*SECTION LOCALE*/

.locale-pink {
  background-image: radial-gradient(circle at 50% 50%, #467287, #28ADAC);
  color: white;
  padding-bottom: 3.5rem;

  iframe {
    pointer-events: none;
  }
}

.locale-map {
  padding-top: .6rem;
}

#locale h4,
#locale p {
  color: white;
}

.footer {
  padding: 0 2rem;
}
