/*GENERAL*/

@font-face {
    font-family: "webkea-font";
    src: url(../fonts/webkea-font.ttf) format("truetype");
}
.webkea-font {
  font-family: "webkea-font";
  display: block;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 37px;
  padding-bottom: 19px;
  border-radius: 50%;
  color: #28C4DA;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

button, .button {
  background: #457589;
  &:hover {
    background-color: #45ACCF;
  }
}

.postfix {
  border-width: 0;
}

/*NAVIGATION*/

nav img {
  opacity: .95;
  display: inline;
  width: 3rem;
  margin-right: 0.5rem;
  margin-bottom: 0.47rem;
}

nav {
  opacity: .98;
  font-size: .8rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 3.4rem;
  h1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  ul {
    float: right;
    margin-right: 2rem;
  }
  li {
    display: inline;
    line-height: 3rem;
    a {
      padding: .8rem;
      color: rgba(255, 255, 255, 0.95);
      text-decoration: none;
    }
  }
  .logo {
    float: left;
    margin-left: 2rem;
    line-height: 3rem;
    color: #fff;
    text-decoration: none;
    a {
      color: rgba(255, 255, 255, 0.9);
    }
  }
  .menu-button {
    display: none;
    font-size: 1.4rem;
    float: right;
    color: #fff;
    line-height: 3rem;
    margin-right: 3rem;
  }
  .menu-close {
    display: none;
  }
}


.top-bar {
  height: 3.4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.nav-icons {
  padding-left: .3rem;
  font-size: 1rem;
}

#features ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*1rem = 16px*/

/*FULLSCREEN HEADER*/

header {
  background-image: linear-gradient(top, rgba(3, 118, 188, 0.72), rgba(36, 172, 171, 0.39)), url("../img/ocean.jpeg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 100vh;
  .main-form {
    position: relative;
    margin: 2rem auto .4rem auto;
    text-align: center;
  }
  input[type="text"] {
    width: 20rem;
    border-radius: 2rem;
    background-color: rgba(26, 178, 215, 0.64);
    border-style: solid;  
    border-width: .4rem;
    border-color: rgb(179, 234, 247);
    color: #fff;
    display: inline;
    height: 3rem;
    margin: 0 auto;
    
    &:focus {
      color: rgba(114, 134, 134, 0.88);
      border-color: rgb(179, 234, 247);
    }
    
    &:active {
      color: #fff;
    }
    
    &::-webkit-input-placeholder {
      color: rgb(179, 234, 247);
      padding-left: 1.8rem;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgb(179, 234, 247);
      padding-left: 1.8rem;    
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: rgb(179, 234, 247);
      padding-left: 1.8rem;   
    }
    &:-ms-input-placeholder {  
      color: rgb(179, 234, 247);
      padding-left: 1.8rem; 
    }  
  }
  
  p {
    font-family: Droid Sans;
    margin-top: -1rem;
    font-size: .9rem;
  }
  
  .email-button {
    background: transparent;
    diplay: inline;
    padding: 0; 
  }
}

.submit {
  vertical-align: middle;
  margin-left: -3.6rem;
  margin-top: -.12rem;
  font-size: 2.9em !important;
  color: rgb(179, 234, 247);
}

.header-text {
  font-family: Ubuntu, Helvetica, sans-serif;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  
}

.title {
  text-align: center;
  position: relative;
  font-family: Ubuntu, Helvetica, sans-serif;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 0;
  padding: 3.5rem 1;
}

.subtitle {
  color: white;
  font-family: Ubuntu, Helvetica, sans-serif;
}

/*SECTION INTRO*/

#intro,
#features-part2,
#work {
  padding: 5.5rem 0;
  background: white;
  width: 100%;
  text-align: center;
}

#locale {
  padding-bottom: 0;
  width: 100%;
  text-align: center
}

#intro img,
#features-part2 img{
  width: 11rem;
  height: 11rem;
  border-radius: 100%;
  border: .4rem solid rgba(224, 224, 224, 0.78);
  padding: .38rem;
}

#intro h3,
#features-part2 h3 {
  font-family: Helvetica, sans-serif;
  color: #28C4DA;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding-top: 1rem;
}

#intro p,
#features-part2 p,
#locale p {
  font-family: 'Droid Sans', sans-serif;
  color: #9c9c9c;
  font-size: 14px;
  text-align: center;
  padding: 0 2rem 1rem 2rem;
  margin-bottom: 0;
}

/*BANNER 1*/

.banner-1 {
  width: 100%;
  height: 25rem;
  background-image: -moz-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-1.jpg");
  background-image: -webkit-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-1.jpg");
  background-image: -ms-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-1.jpg");
  background-image: linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-1.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
}

/*
.banner-1 h2{
  transform: translateY(0%);
}
*/


/*SECTION FEATURES*/

#features {
  padding-top: 5rem;
  padding-bottom: 3.5rem;
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
}

#features h3,
#work h3,
#locale h3 {
  color: grey;
}

#features h4,
#locale h4{
  font-family: Ubuntu, Helvetica, sans-serif;
  color: grey;
  font-size: .8rem;
  font-weight: 400;
  text-align: center;
  padding-top: 0;
}

/*BANNER 2*/

.banner-2 {
  width: 100%;
  height: 25rem;
  background-image: -moz-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-2.jpg");
  background-image: -webkit-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-2.jpg");
  background-image: -ms-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-2.jpg");
  background-image: linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("../img/banner-2.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
}

/*SECTION WORK*/


#work img {
  padding: 2rem;
}

.work-img img {
  max-width:70%;
  transition: all 300ms ease;
}

.work-img img:hover {
  max-width: 90%;
}

.work-top-padding {
  padding-top: 3.75rem;
}

/*SECTION LOCALE*/

.locale-pink {
  background-image: radial-gradient(circle at 50% 50%, #467287, #28ADAC);
  color: white;
  padding-bottom: 3.5rem;

  iframe {
    pointer-events: none;
  }
}

.locale-map {
  padding-top: .6rem;
}

#locale h4,
#locale p {
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer {
  padding: 2rem 2rem 0 2rem;
}

.social-media {
  padding-top: 1rem;
  font-size: 1.8rem;
  text-align: left;
}

.light-title {
  font-weight: 200 !important;
}

.footer-email {
  border-bottom-left-radius: 1000px !important;
  border-top-left-radius: 1000px !important;
}

.footer-email-button {
  border-bottom-right-radius: 1000px !important;
  border-top-right-radius: 1000px !important;
  padding: 0 5px;
}

.footer-email-form {
  padding-top: 2rem;
  input[type="text"] {
    &::-webkit-input-placeholder {
      color: rgb(117, 181, 196);

    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgb(117, 181, 196);

    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: rgb(117, 181, 196);
 
    }
    &:-ms-input-placeholder {  
      color: rgb(117, 181, 196);

    }  
  }
}
