/*GENERAL*/
@font-face {
  font-family: "webkea-font";
  src: url(../fonts/webkea-font.ttf) format("truetype"); }
#consultation {
  width: 500px;
  position: fixed;
  bottom: 0;
  right: 1.5rem;
  border: #fff solid 6px;
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 0;
  border-radius: 25px 25px 0 0;
  padding: 2rem;
  z-index: 500;
  box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.7); }
  #consultation .close-consult-box {
    position: absolute;
    top: .8rem;
    right: 1.2rem;
    cursor: pointer; }
    #consultation .close-consult-box::after {
      content: "\2715"; }
    #consultation .close-consult-box:hover {
      color: tomato; }

.show-consult {
  display: block; }

.webkea-font {
  font-family: "webkea-font";
  display: block;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 37px;
  padding-bottom: 19px;
  border-radius: 50%;
  color: #28C4DA;
  font-size: 36px;
  font-weight: 400;
  text-align: center; }

button, .button {
  background: #457589; }
  button:hover, .button:hover {
    background-color: #45ACCF; }

.postfix {
  border-width: 0; }

.notification {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .notification p {
    margin: 3rem auto;
    text-align: center;
    background: rgba(35, 127, 152, 0.75);
    padding: 2rem;
    width: 380px;
    color: #fff;
    border: 4px solid #fff;
    border-radius: .5rem; }

/*NAVIGATION*/
.active {
  text-shadow: 0 0 3px #FFF; }

nav img {
  opacity: .95;
  display: inline;
  width: 3rem;
  margin-right: 0.5rem;
  margin-bottom: 0.47rem; }

nav {
  opacity: .98;
  font-size: .8rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 3.4rem; }
  nav h1 {
    margin-bottom: 0;
    margin-top: 0; }
  nav ul {
    float: right;
    margin-right: 2rem; }
  nav li {
    display: inline;
    line-height: 3rem; }
    nav li a {
      padding: .8rem;
      color: rgba(255, 255, 255, 0.9);
      text-decoration: none;
      -webkit-transition: all ease 260ms;
              transition: all ease 260ms; }
      nav li a:hover {
        color: #fff;
        text-shadow: 0 0 3px #FFF; }
      nav li a:active {
        color: rgba(255, 255, 255, 0.9); }
      nav li a:visited {
        color: rgba(255, 255, 255, 0.9); }
      nav li a:focus {
        color: rgba(255, 255, 255, 0.9); }
  nav .logo {
    float: left;
    margin-left: 2rem;
    line-height: 3rem;
    color: #fff;
    text-decoration: none; }
    nav .logo a {
      color: rgba(255, 255, 255, 0.9); }
  nav .menu-button {
    display: none;
    font-size: 1.4rem;
    float: right;
    color: #fff;
    line-height: 3rem;
    margin-right: 3rem; }
  nav .menu-close {
    display: none; }

.top-bar {
  height: 3.4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200; }

.nav-icons {
  padding-left: .3rem;
  font-size: 1rem; }

#features ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/*1rem = 16px*/
/*FULLSCREEN HEADER*/
header {
  background-image: -webkit-linear-gradient(top, rgba(3, 118, 188, 0.72), rgba(36, 172, 171, 0.39)), url("http://res.cloudinary.com/webkea/image/upload/v1443393664/ocean_oupfdu.jpg");
  background-image: linear-gradient(top, rgba(3, 118, 188, 0.72), rgba(36, 172, 171, 0.39)), url("http://res.cloudinary.com/webkea/image/upload/v1443393664/ocean_oupfdu.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 0;
  height: 100%;
  width: 100%; }
  header .main-form {
    position: relative;
    margin: 2rem auto .4rem auto;
    text-align: center; }
  header input[type="text"] {
    width: 20rem;
    border-radius: 2rem;
    background-color: rgba(26, 178, 215, 0.64);
    border-style: solid;
    border-width: .4rem;
    border-color: #b3eaf7;
    color: #fff;
    display: inline;
    height: 3rem;
    margin: 0 auto; }
    header input[type="text"]:focus {
      color: rgba(114, 134, 134, 0.88);
      border-color: #b3eaf7; }
    header input[type="text"]:active {
      color: #fff; }
    header input[type="text"]::-webkit-input-placeholder {
      color: #b3eaf7;
      padding-left: 1.8rem; }
    header input[type="text"]:-moz-placeholder {
      /* Firefox 18- */
      color: #b3eaf7;
      padding-left: 1.8rem; }
    header input[type="text"]::-moz-placeholder {
      /* Firefox 19+ */
      color: #b3eaf7;
      padding-left: 1.8rem; }
    header input[type="text"]:-ms-input-placeholder {
      color: #b3eaf7;
      padding-left: 1.8rem; }
  header p {
    font-family: Droid Sans;
    margin-top: -1rem;
    font-size: .9rem; }
  header .email-button {
    background: transparent;
    display: inline;
    padding: 0; }

.scroll-down {
  background: rgba(255, 255, 255, 0.12);
  font-size: 1rem;
  color: #fff;
  -webkit-transition: opacity 270ms ease;
          transition: opacity 270ms ease;
  border-radius: 25px;
  border: #fff solid 3px;
  padding: .6rem 1.8rem;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease; }
  .scroll-down:hover {
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6);
    background: #fff;
    color: #35949C; }

.submit {
  vertical-align: middle;
  margin-left: -3.6rem;
  margin-top: -.12rem;
  font-size: 2.9em !important;
  color: #b3eaf7; }

.header-text {
  font-family: Ubuntu, Helvetica, sans-serif;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white; }

.title {
  text-align: center;
  position: relative;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 0; }

.title-banner {
  text-align: center;
  position: relative;
  font-family: Ubuntu, Helvetica, sans-serif;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 0;
  padding: 3.5rem 1; }

.subtitle {
  color: white;
  font-family: Ubuntu, Helvetica, sans-serif;
  margin-bottom: 2.5rem; }

/*SECTION INTRO*/
#work {
  padding: 5.5rem 0;
  background: white;
  width: 100%;
  text-align: center; }

#intro {
  padding-top: 5.5rem;
  background: white;
  width: 100%;
  text-align: center; }

.features-part2 {
  padding-top: 5.5rem;
  background: white;
  width: 100%;
  text-align: center; }

#locale {
  padding-bottom: 0;
  width: 100%;
  text-align: center; }

#intro img,
.features-part2 img {
  width: 11rem;
  height: 11rem;
  border-radius: 100%;
  border: 0.4rem solid rgba(224, 224, 224, 0.78);
  padding: .38rem; }

#intro h3,
.features-part2 h3 {
  font-family: Helvetica, sans-serif;
  color: #28C4DA;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding-top: 1rem; }

#intro p,
.features-part2 p,
#locale p {
  font-family: 'Droid Sans', sans-serif;
  color: #9c9c9c;
  font-size: 14px;
  text-align: center;
  padding: 0 2rem 1rem 2rem;
  margin-bottom: 0; }

/*BANNER 1*/
.banner-1 {
  width: 100%;
  height: 25rem;
  background-image: -webkit-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("http://res.cloudinary.com/webkea/image/upload/v1443393667/banner-1_vgkrss.jpg");
  background-image: linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("http://res.cloudinary.com/webkea/image/upload/v1443393667/banner-1_vgkrss.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
  margin-top: 5rem; }

/*SECTION FEATURES*/
#features {
  padding-top: 5rem;
  padding-bottom: 3.5rem;
  background-color: whitesmoke;
  width: 100%;
  text-align: center; }

#features h3,
#work h3,
#locale h3 {
  color: grey; }

#features h4,
#locale h4 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: grey;
  font-size: .8rem;
  font-weight: 400;
  text-align: center;
  padding-top: 0; }

/*BANNER 2*/
.banner-2 {
  width: 100%;
  height: 25rem;
  background-image: -webkit-linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("http://res.cloudinary.com/webkea/image/upload/v1443393663/banner-2_nn6tks.jpg");
  background-image: linear-gradient(rgba(89, 190, 255, 0.72), rgba(14, 189, 194, 0.59)), url("http://res.cloudinary.com/webkea/image/upload/v1443393663/banner-2_nn6tks.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
  margin-top: 5rem; }

/*SECTION WORK*/
#work img {
  margin: 2rem;
  border: solid .6rem whitesmoke;
  width: 90%;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease; }
  #work img:hover {
    width: 100%; }

.work-top-padding {
  padding-top: 3.75rem; }

/*LIGHTBOX*/
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(45deg, rgba(89, 190, 255, 0.82) 100%, rgba(14, 189, 194, 0.75) 5%);
  background: linear-gradient(45deg, rgba(89, 190, 255, 0.82) 100%, rgba(14, 189, 194, 0.75) 5%);
  text-align: center;
  z-index: 1000; }
  #lightbox .portfolio-description {
    font-family: Droid Sans;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
    padding: 2rem;
    max-width: 50rem; }
  #lightbox img {
    margin-top: 3rem;
    width: 80%;
    max-width: 55rem;
    padding-top: 1rem; }

#content {
  background-image: url("http://res.cloudinary.com/webkea/image/upload/v1443393669/polaroid_aacokm.png");
  margin: 5%;
  height: 80%;
  overflow: auto;
  box-shadow: 0 0 1.8rem rgba(17, 17, 17, 0.6);
  position: relative; }

.close-box {
  padding: .8rem;
  position: absolute;
  top: .5rem;
  right: .5rem; }
  .close-box span {
    padding: .3rem .5rem;
    background: rgba(89, 190, 255, 0.6);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background 250ms ease;
            transition: background 250ms ease; }
    .close-box span:hover {
      background: #59beff; }

blockquote {
  padding-top: 1rem;
  quotes: "“" "”" "‘" "’";
  width: 75%;
  margin: 0 auto;
  border-left: 0;
  font-family: Georgia, serif; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  font-family: Georgia, serif; }

blockquote p {
  display: inline;
  color: #383838;
  font-size: 1.1rem;
  font-family: Georgia, serif;
  font-style: italic !important; }

/*SECTION LOCALE*/
.locale-pink {
  background-image: -webkit-radial-gradient(50% 50%, circle, #467287, #28ADAC);
  background-image: radial-gradient(circle at 50% 50%, #467287, #28ADAC);
  color: white;
  padding-bottom: 3.5rem; }
  .locale-pink iframe {
    pointer-events: none; }

.locale-map {
  padding-top: .6rem; }

#locale h4,
#locale p {
  color: white;
  font-size: 1rem;
  line-height: 1.5rem; }

.footer {
  padding: 2rem 2rem 0 2rem; }

.social-media {
  padding-top: 1rem;
  font-size: 1.8rem;
  text-align: left; }

.social-media-icon {
  text-align: center; }

.light-title {
  font-weight: 200 !important; }

.footer-email {
  border-bottom-left-radius: 1000px !important;
  border-top-left-radius: 1000px !important; }

.footer-email-button {
  border-bottom-right-radius: 1000px !important;
  border-top-right-radius: 1000px !important;
  padding: 0 5px; }

.footer-email-form {
  padding-top: 2rem; }
  .footer-email-form input[type="text"]::-webkit-input-placeholder {
    color: #75b5c4; }
  .footer-email-form input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    color: #75b5c4; }
  .footer-email-form input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #75b5c4; }
  .footer-email-form input[type="text"]:-ms-input-placeholder {
    color: #75b5c4; }

.social-link {
  color: #fff;
  opacity: 0.6;
  -webkit-transition: all 500ms ease;
          transition: all 500ms ease; }
  .social-link:hover {
    color: #fff;
    opacity: 1; }
  .social-link:visited {
    color: #fff;
    opacity: 0.6; }

.phone {
  padding: .8rem;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  -webkit-transition: all ease 260ms;
          transition: all ease 260ms; }
  .phone:hover {
    color: #fff;
    text-shadow: 0 0 3px #FFF; }
  .phone:active {
    color: rgba(255, 255, 255, 0.9); }
  .phone:visited {
    color: rgba(255, 255, 255, 0.9); }
  .phone:focus {
    color: rgba(255, 255, 255, 0.9); }
