/*SMALL SCREENS*/
@media only screen and (min-width: 641px) and (max-width: 850px) {
  .social-media {
    text-align: center;
    padding-bottom: 3rem; }

  #work {
    padding-top: 4rem; }
    #work img {
      margin: .7rem auto;
      max-width: 80%; }

  .work-top-padding {
    padding-top: 2rem; }

  .brand {
    margin-bottom: 3rem; }

  nav ul {
    position: absolute;
    right: -5rem;
    width: 12rem;
    opacity: 1;
    margin-top: 3rem;
    margin-right: -100%;
    border: solid 0.4rem rgba(210, 231, 229, 0.8);
    border-top: 0;
    background-image: -webkit-linear-gradient(232deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
    background-image: linear-gradient(218deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
    -webkit-transition: all 400ms ease;
            transition: all 400ms ease; }
    nav ul li {
      padding: .5rem;
      font-size: 1rem;
      text-align: right;
      display: block; }
  nav .menu-button {
    display: block;
    cursor: pointer;
    -webkit-transition: all 100ms ease;
            transition: all 100ms ease; }
    nav .menu-button:hover {
      color: #ddd; }
  nav .menu-open::after {
    font-size: 2rem;
    content: "\2261"; }
  nav .menu-close::after {
    content: "\2715"; }
  nav .show-menu {
    right: 4.3rem;
    opacity: 1;
    margin-right: -3rem; }

  .nav-icons {
    padding-left: .8rem;
    font-size: 1.5rem; }

  .top-bar {
    opacity: .96 !important;
    height: 3.4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200; }

  .logo {
    font-size: 1.2rem !important; }

  .title {
    padding: .4rem; } }
@media only screen and (min-width: 1px) and (max-width: 640px) {
  #work {
    padding-top: 5rem; }
    #work img {
      max-width: 80%; }

  .work-top-padding {
    padding-top: 1rem; }

  nav ul {
    position: absolute;
    right: -5rem;
    width: 12rem;
    opacity: 1;
    margin-top: 3rem;
    margin-right: -100%;
    border: solid 0.4rem rgba(210, 231, 229, 0.8);
    border-top: 0;
    background-image: -webkit-linear-gradient(232deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
    background-image: linear-gradient(218deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
    -webkit-transition: all 400ms ease;
            transition: all 400ms ease; }
    nav ul li {
      padding: .5rem;
      font-size: 1rem;
      text-align: right;
      display: block; }
  nav .menu-button {
    display: block;
    cursor: pointer;
    -webkit-transition: all 100ms ease;
            transition: all 100ms ease; }
    nav .menu-button:hover {
      color: #ddd; }
  nav .menu-open::after {
    font-size: 2rem;
    content: "\2261"; }
  nav .menu-close::after {
    content: "\2715"; }
  nav .show-menu {
    opacity: 1;
    margin-right: -3rem;
    right: 4.3rem; }

  .nav-icons {
    padding-left: .8rem;
    font-size: 1.5rem; }

  .top-bar {
    opacity: .96 !important;
    height: 3.4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200; }

  .logo {
    font-size: 1.2rem !important; }

  .title {
    font-size: 2rem;
    margin: 0;
    padding: .4rem; }

  .subtitle {
    display: none; }

  header input[type="text"] {
    width: 16rem; }
  header p {
    font-size: .8rem; }

  .header-text {
    top: 60%; }

  #intro .columns {
    padding-bottom: 3rem; }

  .features-part2 .columns {
    padding-bottom: 3rem; }

  .banner-2 {
    margin-top: 1rem;
    height: 18rem; }

  .banner-1 {
    margin-top: 1rem;
    height: 18rem; }
    .banner-1 .title {
      font-size: 1.6rem; }

  .footer .brand, .footer .social-media {
    display: none; }

  .consult {
    margin-top: 1.4rem; }

  #locale p {
    font-size: .8rem; } }
/*MEDIUM SCREENS*/
@media only screen and (min-width: 40em) {
  #locale p,
  #locale h4 {
    text-align: left; }

  #locale p {
    padding: 0 1rem 1rem 0;
    font-size: 13px; }

  .work-img img {
    max-width: 100%; } }
