/*SMALL SCREENS*/
/*MEDIUM SCREENS*/
@media only screen and (min-width: 40em) {
  #locale p,
  #locale h4 {
    text-align: left; }

  #locale p {
    padding: 0 1rem 1rem 0;
    font-size: 10px; }

  #work img {
    padding: 1rem; }

  .work-img img {
    max-width: 100%; } }
/*LARGE SCREENS*/
/* iPhone 6 (portrait and landscape) ----------- */
/* iPhone 6+ (portrait and landscape) ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* iPhone 4 ----------- */
